.banner{
    width: 100%;
    height: -webkit-calc(100vh - 3.5rem);
    background-image: url("../../Images/landing-mobile.jpeg");
    background-color:#cfcacc;
    background-size: 155%;
    background-position: 60% 60%;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    margin: 0;
    padding: 0;
}

.word{
    display: none;
}

.mobile-tag{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0.5rem;
}

.top-rated{
   text-align: center;
   margin-top: 4rem;
}

@media only screen and (min-width:750px) and (max-width:1000px) {
    .banner {
            background-size: 100%;
            background-color: #cfcacc;
        }
}

@media only screen and (min-width:1000px) {
    .banner {
        width: 50%;
        height: -webkit-calc(100vh - 4rem);
        background-size: 95%;
        background-color: #cfcacc;
    }

    .word {
        display: block;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 1rem;
        box-sizing: border-box;
    }

    .mobile-tag {
        display: none;
    }
}